.cardstack {
    min-height: 225px;
    margin-top: 1rem;
}

.cardstack > section {
    cursor: pointer;
    position: relative;
}

.cardstack > section:nth-child(2) {
    translate: 0 -195px;
    opacity: .95;
}
.cardstack > section:nth-child(3) {
    translate: 0 -390px;
}
.cardstack > section:nth-child(4) {
    translate: 0 -585px;
}
.cardstack > section:nth-child(5) {
    translate: 0 -780px;
}